// device viewport dimensions
// => mobile devices
// => Tablet devices

// Blackberry z30 oriental view
$blackberryZ30-oriental-height: 640px;
$blackberryZ30-oriental-width: 360px;

// blackberry z30 landscape view
$blackberryZ30-landscape-height: 360px;
$blackberryZ30-landscape-width: 640px;

// blackberry playbook oriental view
$blackberry-playbook-oriental-height: 1024px;
$blackberry-playbook-oriental-width: 600px;

// blackberry playbook landscape view
$blackberry-playbook-landscape-height: 600px;
$blackberry-playbool-landscape-width: 1024px;

// Samsung Galaxy Note 3 oriental view
$galaxy-note3-oriental-height: 640px;
$galaxy-note3-oriental-width: 360px;

// Samsung Galaxy Note 3 landscape view
$galaxy-note3-landscape-height: 360px;
$galaxy-note3-landscape-width: 640px;

// iphone 5 oriental view
$iphone5-oriental-width: 320px;
$iphone5-oriental-height: 568px;

// iphone 5 landscape view
$iphone5-landscape-height: 320px;
$iphone5-landscape-width: 568px;

// iphone 6 oriental view
$iphone6-oriental-height: 667px;
$iphone6-oriental-width: 375px;

// iphone 6 landscape view
$iphone6-landscape-height: 375px;
$iphone6-landscape-width: 667px;

// iphone 6 plus oriental view
$iphone6-plus-oriental-height: 736px;
$iphone-plus-oriental-width: 414px;

// iphone 6 plus landscape view
$iphone-plus-landscape-height: 414px;
$iphone-plus-landscape-width: 736px;