.Kontakt{
	width: 80%;
	font-family: 'Raleway', sans-serif;
	
	.Kontakt-wrapper{
		min-height: 400px;
		width: 100%;
		padding: 0px;
		
		.panel-layout {
			.panel-grid{
				.contact-wrapper{
					.panel-grid-cell{
						.widget{
							.contact-form{
								.so-widget-sow-editor{
									.textwidget{
										.wpcf7{
											.wpcf7-form{
												padding:10px;
												p{
													label{
														.your-firstname, .your-name, .your-email, .Phone-number, .your-subject, .your-message{
															.wpcf7-form-control{
																border:#eee;
																height: 40px;
																padding-left: 5rem;
																padding-right:5rem;
																border: 1.5px solid;
																
																@media screen and(max-width: 400px) {
																	width:100%;
																	padding-left:1rem;
																	padding-right:1rem;

																}

																@media screen and(min-width: 401px) and(max-width: 600px) {
																	width: 107%;
																	padding-left:1rem;
																	padding-right:1rem;

																}

																@media screen and(min-width: 601px) and (max-width: 991px) {
																	width: 130%;
																}
																
																&:hover{
																	border-color: #1abc9c;
																	
																	-moz-transition:ease-in-out 0.2s all;
																	-o-transition:ease-in-out 0.2s all;
																	-ms-transition: ease-in-out 0.2s all;
																	transition: ease-in-out 0.2s all;
																}

																&:focus{
																	transform: scale(1.02);
																}

																&:not(:hover) {
																	-moz-transition:ease-in-out 0.2s all;
																	-o-transition:ease-in-out 0.2s all;
																	-ms-transition: ease-in-out 0.2s all;
																	transition: ease-in-out 0.2s all;
																}
															}

															.wpcf7-textarea{
																min-height:200px;
																padding:3rem;
																width: 109%;
																

																@media screen and(max-width: 400px) {
																	width:100%;
																	padding:1.5rem;
																}

																@media screen and(min-width: 401px) and(max-width: 600px) {
																	width: 107%;
																	padding:1.5rem;
																}

																@media screen and(min-width: 464px) and (max-width: 600px) {
																	width: 100%;
																}

																@media screen and(min-width: 601px) and (max-width: 991px) {
																	width: 140%;
																}
															}
														}
													}

													.wpcf7-submit{
														padding:1.5rem;
														background: #3498db;
														color: #fff;
														border: 1px solid;
														width: 100%;
														
					
														
														&:hover{
															background: #2ecc71;
															
															-moz-transition:ease-in-out 0.2s all;
															-o-transition:ease-in-out 0.2s all;
															-ms-transition: ease-in-out 0.2s all;
															transition: ease-in-out 0.2s all;
														}

														&:not(:hover){
															-moz-transition:ease-in-out 0.2s all;
															-o-transition:ease-in-out 0.2s all;
															-ms-transition: ease-in-out 0.2s all;
															transition: ease-in-out 0.2s all;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}