#home_contact{
	background: #eee;
	height: 100%;
	width: 100%;
	padding: 2rem;
	color: #000;
	font-family: 'Raleway', sans-serif;
	
	@media screen and (min-width: 320px) and (max-width: 538px) {
		width: 104%;
	}

	@media screen and (min-width: 375px) and (max-width: 667px) {
		width: 104%;
	}

	.home-contact__form-section{
		margin: 0 auto;
		width: 50%;
		margin-top:2rem;
		
		@media screen and(min-width: 320px) and(max-width: 568px){
			width: 100%;
		}

		@media screen and (min-width: 401px) and (max-width: 600px) {
			width:100%;
		}

		@media screen and (min-width: 375px) and (max-width: 667px) {
			width: 100%;
		}

		@media screen and (min-width: 601px) and (max-width: 991px) {
			width: 100%;
		}
		.wpcf7{
			.wpcf7-form{

				p{
					label{
						.your-firstname, .your-name, .your-subject, .your-email, .Phone-number, .your-message{
							.wpcf7-form-control{
								border:#eee;
								height: 40px;
								padding-left: 5rem;
								padding-right:5rem;
								border: 1.5px solid;
								width:164%;
								
								@media screen and(min-width: 320px) and(max-width: 568px){
									width: 90%;
								}	

								@media screen and(max-width: 400px) {
									width:106%;
									padding-left:1rem;
									padding-right:1rem;
								}

								@media screen and(min-width: 401px) and(max-width: 600px) {
									width: 175%;
									padding-left:1rem;
									padding-right:1rem;
								}

								@media screen and (min-width: 401px) and (max-width: 414px) {
									width: 132.5% !important;
								}

								@media screen and (width: 375px) {
									width: 110px;
								}

								@media screen and (width: 667px) {
									width: 150%;
								}

								@media screen and (min-width: 320px) and (max-width: 568px) {
									width: 90%;
								}

								@media screen and (min-width: 375px) and (max-width: 667px) {
									width: 118%;
								}

								@media screen and (min-width: 601px) and (max-width: 667px) {
									width: 175% !important;
								}

								@media screen and(min-width: 601px) and (max-width: 991px) {
									width: 130%;
								}

								@media screen and (min-width: 601px) and (max-width: 738px) {
									width: 180% !important;
								}
								
								&:hover{
									border-color: #1abc9c;
									
									-moz-transition:ease-in-out 0.2s all;
									-o-transition:ease-in-out 0.2s all;
									-ms-transition: ease-in-out 0.2s all;
									transition: ease-in-out 0.2s all;
								}

								&:focus{
									transform: scale(1.02);
								}

								&:not(:hover) {
									-moz-transition:ease-in-out 0.2s all;
									-o-transition:ease-in-out 0.2s all;
									-ms-transition: ease-in-out 0.2s all;
									transition: ease-in-out 0.2s all;
								}
							}

							.wpcf7-textarea{
								min-height:200px;
								padding:3rem;
								width: 178%;
								
								@media screen and(max-width: 400px) {
									width:100%;
									padding:1.5rem;
								}

								@media screen and(min-width: 401px) and(max-width: 600px) {
									width: 165%;
									padding:1.5rem;
								}

								@media screen and (min-width: 401px) and (max-width: 414px) {
									width: 124% !important;
								}

								@media screen and (min-width: 320px) and (max-width: 480px) {
									width: 90%;
								}

								@media screen and (min-width: 320px) and (max-width: 568px) {
									width: 90%;
								}

								@media screen and (min-width: 375px) and (max-width: 667px) {
									width: 110%;
								}

								@media screen and (min-width: 601px) and (max-width: 667px) {
									width: 190% !important;
								}

								@media screen and (min-width: 601px) and (max-width: 738px) {
									width: 195% !important;
								}

								@media only screen and (min-width: 360px) and (max-width: 767px) { width: 100% !important;}

								@media screen and(min-width: 601px) and (max-width: 991px) {
									width: 140%;
								}
							}
						}
					}
					.wpcf7-submit{
						padding:1.5rem;
						background: #3498db;
						color: #fff;
						border: 1px solid;
						width: 100%;
						
						@media screen and (min-width: 320px) and (max-width: 568px) {
							width: 40%;
						}

						@media screen and (min-width: 375px) and (max-width: 667px) {
							width: 100%;
						}

						@media screen and (min-width: 601px) and (max-width: 667px) {
							width: 100% !important;
						}

						@media screen and (min-width: 601px) and (max-width: 738px) {
							width: 101% !important;
						}
						
						@media screen and(min-width: 601px) and (max-width: 991px) {
							width: 120%;
						}

						
						
						&:hover{
							background: #2ecc71;
							
							-moz-transition:ease-in-out 0.2s all;
							-o-transition:ease-in-out 0.2s all;
							-ms-transition: ease-in-out 0.2s all;
							transition: ease-in-out 0.2s all;
						}

						&:not(:hover){
							-moz-transition:ease-in-out 0.2s all;
							-o-transition:ease-in-out 0.2s all;
							-ms-transition: ease-in-out 0.2s all;
							transition: ease-in-out 0.2s all;
						}
					}
				}
			}
		}
	}
}